@page "/about"

<PageTitle>About</PageTitle>

<div style="padding: 20px; text-align: center;">
    <h1>Exercise 3 - May 2024</h1>

    <h2>Author: Tarman Jawanda</h2>
    <h2>Section: E01</h2>
    <h2>Instructor: Tina Caron</h2>
    <h2 style="padding-top: 20px;">Known Bugs:</h2>

    <ul>
        <li>In the Review collection when I add a review it adds into the CSV file but doesn't show it on the report page.</li>
        <li>I think the problem is in my Report Code but I wasn't able to find a solution.</li>
    </ul>

    <section style="padding-top: 20px;">
        <h2>Credit:</h2>
        <p>The Image featured on Home Page was provided by Pauline Loroy from Unsplash. You can view the original image <a href="https://unsplash.com/photos/people-inside-library-tv8PIPPY3rQ" style="text-decoration: underline;">here</a>.</p>
        <p>The Logo featured on Navigation Page was provided by<a href="https://www.flaticon.com/free-icons/books" title="books icons"> Freepik - Flaticon</a></p>
    </section>
</div>
