@page "/"

<PageTitle>Book Reviews</PageTitle>

<h1 Style="text-align: center; padding: 20px;">Book Reviews</h1>

<MudContainer width="700" height="700" Style="text-align: center;">
    <MudImage Src="img/BookStore.jpg" Alt="BookStore/hero image" Width="700" Height="500">  </MudImage>
</MudContainer>

<p style="text-align: center; padding-top: 20px;">Welcome to Book Reviews, your ultimate destination for discovering the best books and sharing your thoughts!!</p>
<p style="text-align: center">Explore our vast collection of book reviews and recommendations. Whether you're looking for your next read or seeking advice on what to pick up next, Book Reviews has got you covered.</p>